
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MVCNewsList</title>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script type="text/javascript">
        $(function () {
            $("form").submit();
        });
        function alertDate(date) {
            $("#bodyId").html("");
            //var jsondate = $.parseJSON(date);
            for (var key in date) {
                var str = "<tr>";
                str += "<td>" + date[key].Nid + "</td>";
                str += "<td>" + date[key].NTitle + "</td>";
                str += "<td>" + date[key].NDate + "</td>";
                str += "<td>" + date[key].NContent + "</td>";
                str += "<td><a href='/NewsInfo/MVCNewsedit/" + date[key].Nid + "'>修改</a>&nbsp;</td>";
                str += "</tr>";

                $("#bodyId").append(str);
            }
        }
    </script>
</head>
<body>
    @using (Ajax.BeginForm( "MVCAllNewsList","NewsInfo", new AjaxOptions() { OnSuccess="alertDate",HttpMethod= "post" })) {

    };

    <table>
        <thead>
            <tr><th>编号</th><th>标题</th><th>时间</th><th>内容</th></tr>
        </thead>
        <tbody id="bodyId"></tbody>
    </table>
</body>
</html>
