@model 代码熟练度练习2.UserInfo
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit1</title>
</head>
<body>
    <div> 
        <input type="text" value="@Model.UName"/>
    </div>
</body>
</html>
